.upper-header{
    display: flex;
    justify-content: space-between;
}
.right-upper-head-ul{
    gap: 23px;
    display: flex;
    flex-direction: row;
}

.font-nav-size{
    font-size: 1rem !important;    
}
.rgt-nav{
    gap: 20px;
    display: flex;
    justify-content: space-between;
}
.nav-pad-cont-bottom{
    padding: 0 50px 0 50px;
}
/* NAV END */


/* first hero */
.first-hero-cont {
    display: flex;
    
    align-items: center;
}
.first-hero-bg-vala-col{
    background-position: 100% 20% !important;
    background: url(./assets/vvvvvv.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.sec-hero-bar-num{
    font-size: 45px;
    font-weight: bold;
    color: rgb(14, 179, 235);
}
.sec-hero-cont {
    padding: 20px;
    padding-bottom: 70px;
}
.bar-hero-row{
    justify-content: space-evenly;
    padding: 12px !important;
}
.bar-hero-row-heading{
    display: flex;
    align-items: center;
}
.col-border-bar-sec{
    border-right: 1px solid black;
}
.sec-bar-about{
    border: 1px solid grey;
    border-radius: 10px;
}
.sec-head-slect-city{
    margin-top: 30px;
}
.bg-car-ferrari{
    background-color: black;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 20px;
}
.padding-bg-ferrari{
    padding-left: 30px;
    padding-right: 30px;  
} 
.sec-bg-car-cont{
    padding: 7% 0 7% 0;
}
.sec-bg-car-cont-txt{
    font-size: 0.8rem;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.footer-contact-us-material{
    display: flex;
    gap: 5px;

}
.footer-col{
    font-size: 80%;
    margin-bottom: 30px;
}
.footer-col-ul{
    display: flex;
    padding: 0;
    gap: 15px;
    list-style-type: none;
    flex-direction: column;
}
.last-line-footer{
    font-size: 80%;
    justify-content: center;
    align-items: center;
    display: flex;
}
@media screen and (max-width: 575px) {
    .footer-col-ul{
        text-align: center;
    }
    .first-hero-bg-vala-col{
        background: none;
}
    
}
@media screen and (max-width: 993px) {
    .navbar-brand{
        margin-left: 0px !important;
    }
    .rgt-nav{
        display: flex;
        flex-direction: row;
    }
    .nav-pad-cont-bottom{
        padding: 0 10px 0 10px;
    }
    .padding-bg-ferrari{
        
        padding-left: 15px;
        padding-right: 15px;  
    } 
}

@media screen and (max-width:770px){
    .col-border-bar-sec{
        border-right: none;
        border-bottom: 1px solid black;
    }
}@media screen and (min-width: 1100px){
  .h4, h4 {font-size: 2.5rem;}
  .h1, h1 {font-size: 3.5rem;}
  
  .first-hero-para{
    font-size: 2.0rem;
  }
}

@media screen and (max-width: 500px){
    .right-upper-head-li{
        display: none;
    } 
}

@media screen and (max-width: 767px) {
    .last-footer-col{
        align-items: center;
    }
    
}

